.box {
    width: 100px;
    height: 100px;
    background: green;
    position: absolute;
    z-index: 1;
    cursor: move;
    background-repeat: no-repeat;
    display: inline-block;
    border: 1px solid #808080;
    top:360px;
}

#grid {
    width: 302px;
    height: 302px;
    position: relative;
    margin-left: 100px;
    margin-top: 20px;
}

#grid div {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    float: left;
}


div.box.dropped {
    background: silver;
}

.puzzle hr {
    width: 100%;
    border: 0;
    border-top: 1px solid silver;
}

.puzzle .refresh {
    position: absolute;
    left:475px;
    top:125px;
}

.puzzle button {
    background-image: url('/img/refresh.jpg');
    height: 48px;
    width: 48px;
    background-color: white;
    border: none;
}

.puzzle button:hover {
    background-color:white;
    border: none;
}